@page
@model RegisterModel
@{
    ViewData["Title"] = "Welcome to StudyPomo";
}

<div class="container d-flex justify-content-center vh-100">
    <div class="col-md-8 col-lg-6 mt-5">
        <div class="p-5">
            <h2 class="text-center mb-3">@ViewData["Title"]</h2>
            <p class="text-center text-muted mb-4">Sign in with your google account to get started!</p>

            @{
                if ((Model.ExternalLogins?.Count ?? 0) > 0)
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="text-center">
                        <div class="mb-3">
                            @foreach (var provider in Model.ExternalLogins!)
                            {
                                @if (provider.Name == "Google")
                                {
                                    <button type="submit" class="btn btn-secondary w-100 py-2 fs-5" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                        <i class="bi bi-google me-2"></i> Log in with @provider.DisplayName
                                    </button>
                                }
                            }
                        </div>
                    </form>

                    <p class="text-center text-muted mb-4">Already have an account? <a asp-area="Identity" asp-page="/Account/Login">Login here.</a></p>
                }
            }
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
