@using Humanizer
@using Pomodoro.Library.Models.Tables.StudyTaskEntities;

@model Pomodoro.UI.Pages.Timer.IndexModel

<form hx-post
    hx-page="Index"
    >
    <ul class="list-group">

        @foreach (var task in Model.NextStudyTasks)
        {
            <li class="list-group-item">
                <div class="d-flex justify-content-between align-items-center mb-0">
                    <div class="d-flex align-items-baseline">
                        <div>
                            <input hx-post
                                hx-page-handler="CompleteTask"
                                hx-route-id="@task.Id"
                                hx-swap="outerHTML"
                                hx-target="#all-study-tasks"
                                type="checkbox" 
                                class="form-check-input me-2 mt-1" />
                        </div>
                        <div class="d-flex flex-column justify-content-between">
                            <div class="d-flex align-items-center mw-50">
                                <study-task-link task="@task" bold="true"></study-task-link>
                                @if (task.TaskPriority != null)
                                {
                                    <badge priority="true" text="@task.TaskPriority.Level" color="@task.TaskPriority.DisplayHexColor"></badge>
                                }
                                @foreach (var label in task.TaskLabels)
                                {
                                    <badge text="@label.Name" color="@label.HexColor"></badge>
                                }
                            </div>
                            <small>Due @task.Deadline.Humanize()</small>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <form hx-swap="outerHTML"
                              hx-target="#all-study-tasks">
                            <div class="dropdown">
                                <i style="cursor: pointer" class="text-secondary bi bi-three-dots" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a style="cursor: pointer" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#study-task-edit-modal" hx-get hx-page="Index" hx-page-handler="StudyTaskUpdate" hx-route-id="@task.Id" hx-swap="innerHTML" hx-target="#study-task-edit-form">Edit</a>
                                    </li>
                                    <li>
                                        <a style="cursor: pointer" class="dropdown-item" hx-post hx-page-handler="ArchiveStudyTask" hx-route-id="@task.Id">Delete</a>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
                    
            </li>
        }
        <li class="list-group-item custom-hover">
            <a data-bs-toggle="modal" data-bs-target="#study-task-create-modal" class="d-flex justify-content-between align-items-center mb-0">
                <div class="d-flex align-items-baseline">
                    <div>
                        <i class="bi bi-plus me-2"></i>
                    </div>
                    <div class="d-flex flex-column justify-content-between">
                        <div class="d-flex align-items-center">
                            <span class="fw-semibold ext-decoration-none">Add New Task</span>
                        </div>
                        <small>Status...</small>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</form>


