@using Microsoft.AspNetCore.Identity
@using StudyPomo.Library.Models.Identity
@using StudyPomo.Library.Services.Interfaces
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IUserService UserService
@inject IStatisticService StatisticService

<!DOCTYPE html>
<html lang="en" x-data="{
    theme: localStorage.getItem('theme') || '@Context.Session.GetString("theme")',
    setTheme(newTheme) {
        this.theme = newTheme;
        localStorage.setItem('theme', newTheme);
    },
    pinned: localStorage.getItem('pinned') !== null ? JSON.parse(localStorage.getItem('pinned')) : true
}" x-init="$watch('theme', value => localStorage.setItem('theme', value)); $watch('pinned', value => localStorage.setItem('pinned', value));" :data-bs-theme="theme">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="htmx-config" includeAspNetAntiforgeryToken="true" />
    <title>studypomo</title>
    <style>
        /* Hide content until Alpine.js applies the theme */
        body {
            visibility: hidden;
        }

    </style>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='%23FFFFFF' d='M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM1 8a7 7 0 0 1 7-7 3.5 3.5 0 1 1 0 7 3.5 3.5 0 1 0 0 7 7 7 0 0 1-7-7zm7-4.3a3.2 3.2 0 1 1 0 6.4 3.2 3.2 0 0 1 0-6.4zM9 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z'/></svg>">
    <link rel="stylesheet" href="~/lib/bootstrap/scss/custom.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StudyPomo.UI.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body x-init="document.body.style.visibility = 'visible';"
      hx-post="/?handler=UpdateTimeZone"
      hx-trigger="load from:window delay:100ms"
      hx-include="#timezone-input"
      hx-swap="none">
    <!-- Hidden input to store the client's timezone -->
    <input type="hidden" id="timezone-input" name="ianaTimeZone" value="test">
    <div class="content-wrapper">
        <nav class="navbar bg-body border-bottom border-1">
            <div class="container-fluid">
                <div class="d-flex align-items-center">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <div :class="pinned ? 'd-block d-md-none' : 'd-block'" class="border rounded-2 me-3" style="padding: 0.1rem 0.4rem" type="button" data-bs-toggle="offcanvas" data-bs-target="#navOffcanvas" aria-controls="navOffcanvas">
                            <i class="bi bi-list" style="font-size: 1.2rem"></i>
                        </div>
                    }
                    <a class="navbar-brand d-none d-md-block" asp-page="/Manage/Index" style="padding-left: 0.6rem">
                        <h4 :class="theme == 'dark' ? 'text-light' : 'text-dark'">studypomo</h4>
                    </a>
                </div>
                <div class="d-flex align-items-center">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <i class="bi bi-fire me-1"></i>
                        @(await StatisticService.GetCurrentStreakAsync((await UserService.GetCurrentUserAsync()).Id))
                        <span class="ms-3 me-2">/</span>
                    }
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
        <div class="d-flex flex-grow-1">
            <!-- Sidebar (hidden on smaller screens) -->
            @if (SignInManager.IsSignedIn(User))
            {
                <div :class="pinned ? 'd-none d-md-flex flex-column' : 'd-none'" class="bg-body border-1 border-end" style="min-width: 275px;">
                    <div class="border-1 border-bottom p-3 px-4">
                        <span x-on:click="pinned = false" class="text-muted" data-bs-dismiss="offcanvas" style="cursor: pointer;"><i class="bi bi-arrow-bar-left me-2"></i>Collapse</span>
                    </div>
                    <div class="d-flex flex-column align-items-sm-start px-3 pt-3 mb-auto">
                        <div class="w-100">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link illuminate text-nowrap" asp-page="/Manage/Index">
                                        <i class="bi bi-house-door me-1 text-muted"></i> Home
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link illuminate text-nowrap" asp-page="/Manage/Labels/Index">
                                        <i class="bi bi-tag me-1 text-muted"></i> Labels
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link illuminate text-nowrap" asp-page="/Manage/Tasks/All">
                                        <i class="bi bi-list-task me-1 text-muted"></i> Tasks
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link illuminate text-nowrap" asp-page="/Manage/Courses/All">
                                        <i class="bi bi-book me-1 text-muted"></i> Courses
                                    </a>
                                </li>
                            </ul>
                            <hr />
                            <ul class="navbar-nav">
                                <small class="fw-semibold mb-1" style="padding-left: 0.6rem">Quick Actions</small>
                                <li class="nav-item">
                                    <a class="nav-link illuminate text-nowrap" asp-page="/Timer/Index">
                                        <i class="bi bi-clock me-1 text-muted"></i> Enter Pomodoro
                                    </a>
                                </li>
                            </ul>
                            <hr />
                            <ul class="navbar-nav">
                                <small class="fw-semibold mb-1" style="padding-left: 0.6rem">Account</small>
                                <li class="nav-item">
                                    <a class="nav-link illuminate text-nowrap" asp-area="Identity" asp-page="/Account/Manage/Index">
                                        <i class="bi bi-gear me-1 text-muted"></i> Settings
                                    </a>
                                </li>
                                <li x-show="theme == 'dark'" class="nav-item">
                                    <a class="nav-link illuminate text-nowrap" style="cursor: pointer;" x-on:click="setTheme('light')">
                                        <i class="bi bi-sun me-1 text-muted"></i> Change To Light Mode
                                    </a>
                                </li>
                                <li x-show="theme == 'light'" class="nav-item">
                                    <a class="nav-link illuminate text-nowrap" style="cursor: pointer;" x-on:click="setTheme('dark')">
                                        <i class="bi bi-moon-stars me-1 text-muted"></i> Change To Dark Mode
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                                        <button id="logout" type="submit" class="nav-link illuminate w-100 text-start">
                                            <i class="bi bi-arrow-bar-right me-1 text-muted"></i> Logout
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            }
            <div class="flex-grow-1">
                <!-- Main content -->
                <div>
                    <header>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <!-- Offcanvas (shown on smaller screens) -->
                            <div :class="pinned ? 'd-md-none' : ''" class="offcanvas offcanvas-start rounded-end-4" style="width: 300px;" tabindex="-1" id="navOffcanvas" aria-labelledby="navOffcanvasLabel">
                                <div class="offcanvas-header">
                                    <div class="d-flex justify-content-between w-100">
                                        <div>
                                            <h5 class="offcanvas-title" id="nav-offcanvas-label">studypomo</h5>
                                            <a class="small text-muted" asp-area="Identity" asp-page="/Account/Manage/Index"><i class="bi bi-person-fill me-1"></i>@UserManager.GetUserName(User)</a>
                                        </div>
                                        <i x-on:click="pinned = true" style="cursor: pointer;" class="mt-2 d-none d-md-block" :class="pinned ? 'bi bi-pin-fill' : 'bi bi-pin'" data-bs-dismiss="offcanvas"></i>
                                    </div>


                                    <button type="button" class="btn-close d-block d-md-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                </div>
                                <div class="offcanvas-body">
                                    <ul class="navbar-nav">
                                        <li class="nav-item">
                                            <a class="nav-link illuminate" asp-page="/Manage/Index">
                                                <i class="bi bi-house-door me-1 text-muted"></i> Home
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link illuminate" asp-page="/Manage/Labels/Index">
                                                <i class="bi bi-tag me-1 text-muted"></i> Labels
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link illuminate" asp-page="/Manage/Tasks/All">
                                                <i class="bi bi-list-task me-1 text-muted"></i> Tasks
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link illuminate" asp-page="/Manage/Courses/All">
                                                <i class="bi bi-book me-1 text-muted"></i> Courses
                                            </a>
                                        </li>
                                    </ul>
                                    <hr />
                                    <ul class="navbar-nav">
                                        <small class="fw-semibold mb-1" style="padding-left: 0.6rem">Quick Actions</small>
                                        <li class="nav-item">
                                            <a class="nav-link illuminate" asp-page="/Timer/Index">
                                                <i class="bi bi-clock me-1 text-muted"></i> Enter Pomodoro
                                            </a>
                                        </li>
                                    </ul>
                                    <hr />
                                    <ul class="navbar-nav">
                                        <small class="fw-semibold mb-1" style="padding-left: 0.6rem">Account</small>
                                        <li class="nav-item">
                                            <a class="nav-link illuminate" asp-area="Identity" asp-page="/Account/Manage/Index">
                                                <i class="bi bi-gear me-1 text-muted"></i> Settings
                                            </a>
                                        </li>
                                        <li x-show="theme == 'dark'" class="nav-item">
                                            <a class="nav-link illuminate" style="cursor: pointer;" x-on:click="setTheme('light')">
                                                <i class="bi bi-sun me-1 text-muted"></i> Change To Light Mode
                                            </a>
                                        </li>
                                        <li x-show="theme == 'light'" class="nav-item">
                                            <a class="nav-link illuminate" style="cursor: pointer;" x-on:click="setTheme('dark')">
                                                <i class="bi bi-moon-stars me-1 text-muted"></i> Change To Dark Mode
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                                                <button id="logout" type="submit" class="nav-link illuminate w-100 text-start">
                                                    <i class="bi bi-arrow-bar-right me-1 text-muted"></i> Logout
                                                </button>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        }
                    </header>
                    <main role="main" class="container-sm p-4">
                        @RenderBody()
                    </main>
                </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/bootstrap-5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/htmx.org@2.0.1" integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            
            // Detect the client's timezone
            var timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
            console.log(`Timezone detected: ${timezone}`);
            // Set the value of the hidden input
            document.getElementById("timezone-input").value = timezone;
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
