@using PomodoroLibrary.Models.Utility

@model PomodoroUI.Areas.Registered.Pages.Timer.IndexModel

@await Html.PartialAsync("Partials/_TasksOutOfBounds")

<form id="study-task-create-form" 
    hx-post
    hx-page="Index"
    hx-page-handler="CreateStudyTask"
    hx-swap="innerHTML"
    hx-target="#current-tasks"
    hx-on::after-request=" if(event.detail.successful) this.reset()">
    <div class="modal-body">
        <div class="mb-2">
            <label asp-for="StudyTaskCreate.Name" class="form-label">Task:</label>
            <input class="form-control form-control-sm" asp-for="StudyTaskCreate.Name" />
            <span asp-validation-for="StudyTaskCreate.Name" class="text-danger form-text"></span>
        </div>

        <div class="mb-2">
            <label asp-for="StudyTaskCreate.TaskPriorityId" class="form-label">Priority:</label>
            @foreach (var priority in Model.TaskPriorities)
            {
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="StudyTaskCreate.TaskPriorityId" value="@priority.Id" id="(@priority.Id)-create" />
                    <label class="form-check-label" for="(@priority.Id)-create">@priority.Level</label>
                </div>
            }
            <span asp-validation-for="StudyTaskCreate.TaskPriorityId" class="text-danger form-text"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" id="submitButton" class="btn btn-primary">Create</button>
    </div>
    @Html.AntiForgeryToken()
</form>

@section Scripts {

    <partial name="_ValidationScriptsPartial" />
}