@using PomodoroLibrary.Models.Utility
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model PomodoroUI.Areas.Registered.Pages.Timer.IndexModel

<form id="study-task-edit-form" 
    hx-post
    hx-page="Index"
    hx-page-handler="UpdateStudyTask"
    hx-swap="innerHTML"
    hx-target="#all-study-tasks"
    hx-on::after-request=" if(event.detail.successful) this.reset()">
    <div class="modal-body">
        <input hidden asp-for="StudyTaskUpdate.Id" />
        <div class="mb-2">
            <label asp-for="StudyTaskUpdate.Name" class="form-label">Task:</label>
            <input class="form-control form-control-sm" asp-for="StudyTaskUpdate.Name" />
            <span asp-validation-for="StudyTaskUpdate.Name" class="text-danger form-text"></span>
        </div>
        <div class="mb-2">
            <label asp-for="StudyTaskUpdate.TaskPriorityId" class="form-label">Priority:</label>
            <div class="form-check">
                <input checked class="form-check-input" type="radio" asp-for="StudyTaskUpdate.TaskPriorityId" value="" id="none-edit" />
                <label class="form-check-label text-opacity-75" for="none-edit">None</label>
            </div>
            @foreach (var priority in Model.TaskPriorities)
            {
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="StudyTaskUpdate.TaskPriorityId" value="@priority.Id" id="@(priority.Id)-edit" />
                    <label class="form-check-label" for="@(priority.Id)-edit">@priority.Level</label>
                </div>
            }
            <span asp-validation-for="StudyTaskCreate.TaskPriorityId" class="text-danger form-text"></span>
        </div>
    </div>
    <div class="modal-footer d-flex justify-content-between">
        <div>
            <button class="btn btn-danger" hx-post hx-page-handler="RemoveStudyTask" hx-route-id="@Model.StudyTaskUpdate.Id" data-bs-dismiss="modal">Delete</button>
        </div>
        <div>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" id="submitButton" class="btn btn-primary">Save</button>
        </div>
    </div>
    @Html.AntiForgeryToken()
</form>

@section Scripts {

    <partial name="_ValidationScriptsPartial" />
}