@using Humanizer
@using PomodoroLibrary.Models.Tables.StudyTaskEntities
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model PomodoroUI.Pages.Timer.IndexModel

@{
    var completedTasks = Model.StudyTasks.Where(u => u.Completed && !u.Archived).ToList();
}

@if (completedTasks.Count == 0)
{
    <p>No Completed tasks.</p>
}
else
{
    <form hx-post
        hx-page="Index"
        >
        <ul class="list-group">
            @foreach (var task in completedTasks)
            {
                <li class="list-group-item">
                    <div class="d-flex justify-content-between align-items-center mb-0">
                        <div class="d-flex align-items-baseline">
                            <div>
                                <input checked
                                       hx-post
                                       hx-trigger="change"
                                       hx-page-handler="UncompleteTask"
                                       hx-route-id="@task.Id"
                                       hx-swap="outerHTML"
                                       hx-target="#all-study-tasks"
                                       type="checkbox"
                                       class="form-check-input me-2 mt-1" />
                            </div>
                            <div class="d-flex flex-column justify-content-between">
                                <div class="d-flex align-items-center">
                                    <h6 class="card-title mb-1 me-2">@task.Name</h6>
                                    @if (task.TaskPriority != null)
                                    {
                                        <badge priority="true" text="@task.TaskPriority.Level" color="@task.TaskPriority.DisplayHexColor"></badge>
                                    }
                                    @foreach (var label in task.TaskLabels)
                                    {
                                        <badge text="@label.Name" color="@label.HexColor"></badge>
                                    }
                                </div>
                                <small>@task.Status()</small>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <a class="btn btn-link text-primary p-0" data-bs-toggle="modal" data-bs-target="#study-task-edit-modal" hx-get hx-page="Index" hx-page-handler="StudyTaskUpdate" hx-route-id="@task.Id" hx-swap="innerHTML" hx-target="#study-task-edit-form">
                                <i class="bi bi-three-dots"></i>
                            </a>
                        </div>
                    </div>

                </li>
            }
        </ul>
        @Html.AntiForgeryToken()
    </form>
}

